@import 're.scss';
@import 'vars.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
}

.wrapper{
    max-width: 1170px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    
}

.title{
    text-align: center;
}

.product-card {
    min-width: 350px;
    min-height: 520px;
    margin: 15px 10px;
    transition: all 0.2s ease-out;
    &__heart{
        width: 40px;
        height: 40px;
        padding-top: 1.5px;
        position: absolute;
        background-color: #fff;
        border-radius: 50%;
        margin: 1rem;
        &_svg:hover{
            stroke: red;
            fill: red;
            transition: all 0.2s ease-out;
        }
    }

    &__overlay{
        cursor: pointer;
    }
    &__img {
        width: 100%;
        height: auto;
        &_container{
            max-width: 350px;
        }
     }
     &__name {
        max-width: 350px;
      }
     &__type {
        color: rgb(117, 117, 117);
      }
     &__price {
        margin-top: 1rem;
      }
     &__btn {
         display: block;
         width: 100%;
         max-width: 350px;
         height: 4rem;
         margin-top: 1.5rem;
         padding: 0rem 3rem;
         font-size: 1.6rem;
         border-radius: 1rem;
         border: 2px solid #111;
         background-color: #fff;
         color: #111;
         border-radius: 3rem;
         cursor: pointer;
         transition: all 0.28s ease-out;
         &:hover{
            background-color: #111;
            color: #fff;
         }
     }
 }


 .catalog{
     &__container{
         display: flex;
         flex-wrap: wrap;
         justify-content: space-around;
     }
 }

 .nav{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #111;
    z-index: 100;
 }

 .cart{
     padding: 1rem;
     margin-bottom: 1rem;
     width: 100%;
     height: 72px;
     max-height: 72px;
     &__img{
        cursor: pointer;
         &_container{
         }
     }
     &__counter{
         position: relative;
         top: 2px;
         left: 4px;
         color: #fff;
         font-size: 1.4rem;
        &_container{
        position: absolute;
        min-width: 30px;
        min-height: 30px;
        margin-top: -18px;
        margin-left: 32px;
        background-color: rgb(117, 117, 117);
        border-radius: 50%;
        }
     }
 }

 .footer{
     width: 100%;
     height: 100px;
     margin-top: 50px;
     color: #fff;
     background-color: #111;
     text-align: center;
 }

 .cart-item{
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 100vw;
     position: relative;
     left: -1rem;
     padding: 2rem 0;
     border-bottom: 2px solid rgb(117, 117, 117);
     color: #fff;
     &__wrapper{
         position: relative;
         left: -1rem;
         width: 100vw;
         max-height: 99vh;
         background-color: #111;
         overflow: scroll;
         overflow-x:hidden;
     }
     &__container{
         display: flex;
         align-items: center;
         padding: 0 20%;
     }
     &__img{
        &_container{
            max-width: 150px;
            height: auto;
            margin-left: 1rem;
        }
     }
     &__information{
        margin-left: 1rem;
     }
     &__name{
       
     }
     &__id{
        
     }
     &__price{
        
     }
     &__counter{
        
     }
     &__btn_container{
        margin-right: 3%;
     }
 }

 .close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 1;
  }
  .close:hover {
    opacity: 0.3;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: rgb(117, 117, 117);
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }